<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<table border="1">
	<tr>
		<td>댓글</td>
		<td>
			<div>작성자</div>
			<div>작성일</div>
		</td>
		<td>
			관리
		</td>
	</tr>
	<tr th:each="dto : ${list}">
		<td class="re-def-mode" th:text="${dto.text}">댓글</td>
		<td class="re-edit-mode">
			
		</td>
		<td>
			<div th:text="${dto.writer}">작성자</div>
			<div th:text="${dto.createdDate}">작성일</div>
		</td>
		<td class="re-def-mode">
			<button type="button"  onclick="reEditMode(this)">수정</button>
			
		</td>
		<td class="re-edit-mode">
			<button type="button" onclick="reEditProc(this)">수정완료</button>
			<button type="button" onclick="reDefMode(this)">취소</button>
		</td>
	</tr>
</table>
</html>